$marginDefault: 0;
$paddingDefault: 0;
$margin10px: 10px;
$padding10px: 10px;
$width: 100%;
$heightVH: 100vh;
$pointer: pointer;
$textDecorationNone: none;
$textCenter: center;
$borderRadius: 50%;
$fontSizeRem: 1rem;
$fontSizePX: 20px;
$lineHeight: 1;
$listStyleSquare: square;